<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login" text="Geri"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Üye Ol
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <img alt="Çocukla logo" class="logo" src="assets/img/cocukla_logo.png"/>
    <div class="spacer-10"></div>
    <form [formGroup]="newUser">
        <ion-item>
            <ion-label position="floating">
                Ad Soyad
            </ion-label>
            <ion-input [(ngModel)]="userModel.displayName" formControlName="name" name="name"
                       placeholder="Ad soyad giriniz"
                       required type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">
                Eposta
            </ion-label>
            <ion-input [(ngModel)]="userModel.email" formControlName="email" name="email" placeholder="Eposta giriniz"
                       required type="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">
                Şifre
            </ion-label>
            <ion-input [(ngModel)]="userModel.password" formControlName="password" name="password"
                       placeholder="Şifre giriniz" required type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">
                İl
            </ion-label>
            <ion-select (ionChange)="setDistricts(userModel.city)" [(ngModel)]="userModel.city" formControlName="city"
                        name="city">
                <ion-select-option *ngFor="let city of cities" value="{{city.city_name}}">
                    {{city.city_name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">
                İlçe
            </ion-label>
            <ion-select [(ngModel)]="userModel.district" formControlName="district" name="district">
                <ion-select-option *ngFor="let d of districts" value="{{d}}">
                    {{d}}
                </ion-select-option>
            </ion-select>
        </ion-item>
    </form>
    <ion-button (click)="subscribe()" [disabled]="!newUser.valid" expand="block" shape="round.none">ÜYE OL</ion-button>
</ion-content>
