<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" text="Geri"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Şifremi Unuttum
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="page3">
  <img src="assets/img/cocukla_logo.png" style="display:block;width:86px;height:auto;margin-left:auto;margin-right:auto;"  alt="Çocukla logo"/>
  <form>
    <div class="spacer-10"></div>
    <ion-item>
      <ion-label position="floating">
        Eposta
      </ion-label>
      <ion-input type="email" placeholder="Eposta giriniz" [(ngModel)]="userModel.email" name="email"></ion-input>
    </ion-item>
    <ion-button shape="round.none" expand="block" (click)="sendPasswordResetLink()">ŞİFREMİ HATIRLAT</ion-button>
  </form>


</ion-content>
