<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" text="Geri"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Mekanlarım
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="gotoPlaceForm()">
            <ion-icon icon="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div *ngIf="places.length > 0">
        <ion-card *ngFor="let place of places">
            <img src="{{getUrl(place.images[0])}}}" alt="{{place.name}}" (click)="gotoDetail(place.documentID)"/>
            <ion-card-header>
                <ion-card-title>{{place.name}}</ion-card-title>
                <ion-card-subtitle>{{place.category}}</ion-card-subtitle>
            </ion-card-header>
            <ion-item>
                <ion-button fill="outline" slot="end" (click)="favorite(place.documentID)">
                    <ion-icon icon="heart"></ion-icon>
                </ion-button>
                <ion-button fill="outline" slot="end" (click)="gotoDetail(place.documentID)">
                    <ion-icon icon="arrow-round-forward"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-card>
    </div>
    <ion-grid *ngIf="places.length == 0">
      <ion-row>
        <ion-col>
          <ion-text class="ion-text-center">
            Kayıt bulunamadı.
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
