<ion-content padding id="page1">
  <div class="spacer-20"></div>
  <img src="assets/img/cocukla_logo.png" style="display:block;width:70px;height:auto;margin-left:auto;margin-right:auto;" />
  <div class="spacer-20"></div>
  <form (ngSubmit)="login()">
    <div class="spacer"></div>
    <ion-item>
      <ion-label position="floating">
        Eposta
      </ion-label>
      <ion-input type="email" placeholder="Eposta giriniz" [(ngModel)]="userModel.email" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Şifre
      </ion-label>
      <ion-input type="password" placeholder="Şifre giriniz" [(ngModel)]="userModel.password" name="password" required></ion-input>
    </ion-item>
    <div class="spacer"></div>
    <ion-button shape="round.none" expand="block" type="submit">GİRİŞ YAP</ion-button>

  </form>



  <ion-button fill="clear" expand="block" (click)="goToForgetPassword()" color="dark">ŞİFREMİ UNUTTUM?</ion-button>

  <div class="spacer-20"></div>

  <ion-button shape="round.none" expand="block" color="facebook" (click)="loginWithFacebook()">FACEBOOK İLE GİRİŞ YAP</ion-button>

 <!-- <div class="spacer-10"></div>

  <ion-button shape="round.none" expand="block" color="google" (click)="loginWithGoogle()">GOOGLE İLE GİRİŞ YAP</ion-button>-->

  <div class="spacer-10"></div>

  <ion-button fill="clear" expand="block" (click)="goToSubscribe($event)" color="dark">HESABINIZ YOKSA, ÜYE OLUN!</ion-button>
</ion-content>
