<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/menu/home" text="Geri"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Mekanlarım
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" routerLink="/menu/placeform/0" routerDirection="forward">
            <ion-icon icon="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                refreshingSpinner="circles"
                refreshingText="Lütfen bekleyiniz...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-grid *ngIf="places.length > 0">
        <ion-row>
            <ion-col>
                <ion-card *ngFor="let place of places">
                    <img src="{{place.images[0]}}}" alt="{{place.name}}" routerLink="/menu/placeform/{{place.documentID}}" routerDirection="forward"/>
                    <ion-card-header>
                        <ion-card-title>{{place.name}}</ion-card-title>
                        <ion-card-subtitle *ngIf="place.isApproved">{{place.category}}</ion-card-subtitle>
                        <ion-card-subtitle *ngIf="place.isApproved === false" color="danger">İÇERİK HENÜZ ONAYLANMADI
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-item>
                        <ion-button fill="outline" slot="end" routerLink="/menu/placeform/{{place.documentID}}" routerDirection="forward">
                            <ion-icon icon="arrow-round-forward"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="places.length == 0">
        <ion-row>
            <ion-col>
                <ion-text class="ion-text-center">
                    Kayıt bulunamadı.
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
