<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Geri"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Profilim
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="assets/img/cocukla_logo.png"
       style="display:block;width:86px;height:auto;margin-left:auto;margin-right:auto;" alt=""/>
  <div class="spacer-10"></div>
  <form>
    <ion-item>
      <ion-label position="floating">
        Ad Soyad
      </ion-label>
      <ion-input type="text" placeholder="Emrah Yurtlu" [(ngModel)]="userModel.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Eposta
      </ion-label>
      <ion-input type="email" placeholder="{{userModel.email}}" [(ngModel)]="userModel.email" disabled="true"
                 name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        İl seçiniz
      </ion-label>
      <ion-select name="city" [(ngModel)]="userModel.city">
        <ion-select-option value="Ankara">
          Ankara
        </ion-select-option>
        <ion-select-option value="İstanbul">
          İstanbul
        </ion-select-option>
        <ion-select-option value="İzmir">
          İzmir
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        İlçe seçiniz
      </ion-label>
      <ion-select name="district" [(ngModel)]="userModel.district">
        <ion-select-option value="Çankaya">
          Çankaya
        </ion-select-option>
        <ion-select-option value="Keçiören">
          Keçiören
        </ion-select-option>
        <ion-select-option value="Gölbaşı">
          Gölbaşı
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Epostama şifre değiştirme linki gönder</ion-label>
      <ion-checkbox color="primary" checked slot="start" [(ngModel)]="changePassword" name="changePassword"></ion-checkbox>
    </ion-item>
  </form>
  <ion-button shape="round" expand="block" (click)="update()">GÜNCELLE</ion-button>
</ion-content>
